@model Restoran.Models.MenuModel
@{
    ViewBag.Title = "CreateP";
}

<h2>Create</h2>
@using (Html.BeginForm())
{

    @Html.DisplayNameFor(model => Model.username)
    <div>@Html.TextBoxFor(model => Model.username)</div>

    @Html.DisplayNameFor(model => Model.password)
    <div>@Html.TextBoxFor(model => Model.password)</div>

   
    <div><br /><button type="submit" class="btn btn-primary">Submit</button></div>

}


