@model Restoran.Models.OrderModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    
    @Html.DisplayNameFor(model => Model.MejaId)
    <div>@Html.DropDownListFor(model => Model.MejaId, Model.tMejas)</div>

    @Html.DisplayNameFor(model => Model.MenuId)
    <div>@Html.DropDownListFor(model => Model.MenuId, Model.tMenus)</div>

    <div><br /><input type="submit" value="Submit" /></div>


}