@model Restoran.Models.OrderModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
Anda yakin akan menghapus?
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => Model.IdOrder)
    @Html.DisplayFor(model => Model.IdOrder)
    <br />
    @Html.DisplayFor(model => Model.MejaId)
    <br />
    @Html.DisplayFor(model => Model.MenuId)
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}
