@model IEnumerable<Restoran.Models.KasirModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    <tr>
        <th>Meja</th>
        <th>Detail</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMeja)
            </td>
            <td>
                @Html.ActionLink("Detail", "Detail", new { id = item.IdMeja })
            </td>
        </tr>
    }
</table>

