@model Restoran.Models.HomeModel
@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm())
{
    <center>
        <div style="background-color:aliceblue; margin-left:20px;margin-right:20px;">
            <br />
            <h2>Login</h2>
            <table>


                <tr>
                    <td>Username</td>
                    <td>@Html.TextBoxFor(model => Model.username)</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>@Html.PasswordFor(model => Model.password)</td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary">Submit</button></td>
                </tr>


            </table>
            <br /><br />
        </div>
    </center>
}

