@model Restoran.Models.HomeModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Username</td>
            <td>@Html.TextBoxFor(model => Model.username)</td>
        </tr>
        <tr>
            <td>Password</td>
            <td>@Html.TextBoxFor(model => Model.password)</td>
           
        </tr>
        <tr>
            <td><input type="submit" value="Login" /></td>
        </tr>
    </table>
}

